* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding-top: 8vh;
}

body {
  font-family: "Raleway";
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  /* background: #41483d; */
  background: #f3f3f3;
}
